<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <connectionStrings>      
      <add name="SqlConnectionDb"
           connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DbBlock;AttachDbFilename=C:\Dbs\Block\DbBlock.mdf;Integrated Security=True" 
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>